{% extends "base.html" %}

{% set title = "Array constructor" %}

{% block content %}
<main class="main">
  <div class="constructor">
    <form class="constructor__form" action="#">
      <fieldset class="form__fieldset">
        <input class="form__input__length" type="text" name="length" id="length">
        <label class="form__label__length" for="length">Введи желаемое количество элементов в массиве</label>
        <input class="form__input__quantity" type="text" name="quantity" id="quantity">
        <label class="form__label__quantity" for="quantity">Ведите желаемое количество элементов в подмассиве</label>
        <button class="form__constructor__button"
          onclick="createTwoDemensionalArray()">Расчитать</button>
      </fieldset>
    </form>

    <div class="constructor__output">
      <div class="output__text">
        <span>ваш результат</span>
      </div>
      <div class="outpu__resilt__container" id="result_multi"></div>
    </div>
  </div>
</main>

<script src="../static/scripts/array_constructor.js"></script>
{% endblock %}
