{% extends "base.html" %}

{% set title = "Это ты что ли член?" %}

{% block content %}
  <div id="container_demo">
    <!-- спрятанный якорь, чтобы избежать прыжков http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
    <a class="hiddenanchor" id="tosubscribe"></a>
    <a class="hiddenanchor" id="tologin"></a>
    <div id="wrapper">
      <div id="login" class="animate form">
        <form action="{{ url('authenticate') }}" method="post">

          <p>
            <label for="username" class="uname" data-icon="u"> Email</label>
            <input id="username" name="username" required="required" type="text"
                   placeholder="Введи мыло"/>
          </p>
          <p>
            <label for="password" class="youpasswd" data-icon="p"> Password </label>
            <input id="password" name="password" required="required" type="password"
                   placeholder="Сюда пароль"/>
          </p>
          <p class="keeplogin">
            <input type="checkbox" name="loginkeeping" id="loginkeeping"
                   value="loginkeeping"/>
            <label for="loginkeeping">Не пидр</label>
          </p>
          <p class="login button">
            <input type="submit" value="Жми"/>
          </p>
          <p class="change_link">
            Не член ?
            <a href="#tosubscribe" class="to_subscribe">Стань им!</a>
          </p>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
