{% extends "base.html" %}

{% set title = "Htw - Login" %}

{% block content %}

<div id="container_demo">
  <!-- спрятанный якорь, чтобы избежать прыжков http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
  <a class="hiddenanchor" id="tosubscribe"></a>
  <a class="hiddenanchor" id="tologin"></a>
  <div class="wrapper">
    <div id="login" class="animate__form">
      <form class="login__form" action="{{ url('auth') }}" method="post">
        <fieldset>
          <legend class="form__legend"> HTW </legend>
          <div class="form__username">
            <label for="username" class="uname" data-icon="u"> Name</label>
            <input id="username" name="username" required="required" type="text" placeholder="Enter username" />
          </div>
          <div class="form__password">
            <label for="password" class="youpasswd" data-icon="p"> Password </label>
            <input id="password" name="password" required="required" type="password" placeholder="Enter password" />
          </div>
          <div class="keeplogin">
            <input type="checkbox" name="loginkeeping" id="loginkeeping" value="loginkeeping" />
            <label for="loginkeeping">Remember me</label>
          </div>
          <button class="form__button">Sign in</button>
          <p>{{ error }}</p>
          <div class="form__link">
            <span class="change_link">
              Have no login?
              <a href="#tosubscribe" class="to_subscribe">Sign in</a>
            </span>
          </div>
        </fieldset>

      </form>
    </div>
  </div>
</div>

{% endblock %}
