.login__body {
  background-color: #1c3d46;
}

.login__header {
  box-sizing: border-box;
  height: 150px;
  text-align: center;
  background-color: #0b7c78;
}

.header__head {
  margin-top: 25px;
  font-size: 70px;
  color: azure;
  text-shadow: 2px 0px 2px rgba(0, 0, 0, 0.6);
}

.animate__form {
    display: flex;
    justify-content: center;
}

.login__form {
    width: 20%;
}

.form__username,
.form__password {
    display: flex;
    flex-direction: column;
    height: 70px;
}

.form__username > label,
.form__password > label,
.keeplogin > label {
    font-size: 20px;
}

.form__username > input,
.form__password > input {
    height: 30px;
    background-color: rgb(236, 231, 231);
}

.keeplogin {
    margin-bottom: 20px;
}

.form__button {
    height: 30px;
    width: 90%;
    font-size: 20px;
    margin-left: 5%;
    margin-bottom: 70px;
}

.form__link {
    display: flex;
    justify-content: center;
}